/* https://stackoverflow.com/a/62553986 */

:root {
    --bg-main: #181a1b;
    --bg-color: #181818;
    --ui-bg: #151617;
    --ui-border: #202020; 
    --ui-main: #303030;
    --ui-hov: #404040;
    --ui-text: #ffffff;
    --ui-red: #ff5555;
    --ui-orange: #f6bb55;
    --ui-yellow: #ffff55;
    --ui-green: #55ff55;
    --ui-blue: #5555ff;
    --ui-baby-blue: #97B3C6;
    --ui-purple: #ff55ff;
    --ui-peach: #FCD6D3;
    --ui-txt-border: #6f5b5b;
}