@import './constants.css';

:root {
    --card-size: clamp(150px, 40vw, 260px) 
}

* {
    scrollbar-color: #454a4d #202324;
}

*, *:before, *:after {
    box-sizing: border-box;
    object-fit: contain;
  }

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


button {
    background: var(--ui-main);
    color: var(--ui-text);

    border: none;
    border-radius: 7px;

    font-size: 0.70em;

    padding: 8px;
    width: 150px;

    transition: all 0.25s;
    font: Roboto;
}

button:disabled {
    background-color: #555555;
    color: #999999;
}

button:hover {
    background: var(--ui-hov);
    border-color: transparent !important;
}

button:disabled:hover {
    background: #777777;
}

html { 
    scroll-behavior: smooth;
}

body {
    margin: 0px; 
    color-scheme: dark !important;
    background: var(--bg-main);
    color: var(--ui-text);
    font-size: 1.5em;
    font-family: Roboto;
    user-select: none;
    overflow-x: hidden; 
}

#bg {
    position: fixed;
    height: 100vh; /* for unsupported browsers */
    height: 100lvh; 
    width: 100vw; 
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 10%
    );
    background-position: center;
    /* https://www.youtube.com/watch?v=NUeCNvYY_x4&t=115s */

    animation: live 15s ease-in-out infinite;  
}


#main-div, .container { 
    display: grid;
    grid-template-rows: 1fr; /* single column */
    justify-items: center; /* centers all items inside */
    margin: 10px; 
}

#main-div { 
    gap: 25px;
}

#img-grid { 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* 4 columns */
    gap: 10px; 
    overflow: hidden;
    width: min(100%, calc((var(--card-size) + 50px) * 4));
}

.showcase-img { 
    transition:all 0.25s;
    transform: scale(0.8);
    z-index: 0;
    width: 100%;
    object-fit: cover;
    padding: 2% 5% 5% 5%;

}

.showcase-img:hover { 
    transform: scale(1)
}

.container { 
    overflow: hidden; 
    grid-template-columns: var(--card-size);
    background-color: var(--ui-bg);
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--ui-main); 
    position: relative;
    height: fit-content;
    margin: 2%;
}

h2 { 
    font-size: clamp(100%, 5vw, 1.5em);
    margin-top: 20px;
    margin-bottom: 5px; 
}

@keyframes live { 
    0%,
    100% {
        background-size: 25px 25px; 
    }
    50% {
        background-size: 20px 20px; 
    }
}

/* 
TODO: add line break: as such ↓
https://jimclydemonge.medium.com/

add cards like this: 
https://thisxdoesnotexist.com/

*/